stepfunctions.json
{
  "Comment": "Start Scraping",
  "StartAt": "Named Entity Extraction",
  "States": {
    "Named Entity Extraction": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:IdentifyEntities",
      "Next": "Masking, Anonymization & Deidentification"
    },
    "Masking, Anonymization & Deidentification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:MaskEntities",
      "Next": "Reidentification Choice"
    },
    "Reidentification Choice": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.ReversibleorPermanent",
          "StringEquals": "Reidentify",
          "Next": "Reidentification"
        },
        {
          "Variable": "$.body.ReversibleorPermanent",
          "StringEquals": "Permanent",
          "Next": "Final State"
        }
      ],
       "Default": "Reidentification"
    },
    "Reidentification": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:ReIdentifyEntities",
      "Next": "Final State"
    },
    "Final State": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:165885578631:function:FinalStep",
      "End": true
    }
  }
}